<div class = "pageview">
  <div class = "pagecontent">

    <h1>Books: <%= @author.full_name() %></h1>
    <% for book in @books %>
    <h2><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
    </h2>
    <h3><%= book.genre().name() %></h3>
    <a href="/books/<%= book.id() %>">View</a>
    <hr />
    <% end %>

  </div>
</div>
