<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Books: <%= @series.name() %></h1>
    </div>
    <% for book in @books %>
    <h2><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
    </h2>
    <h3><%= book.author().full_name %></h3>
    <div class="index-buttons">
      <a class="btn-main" href="/books/<%= book.id() %>">View</a>
      <a class="btn-highlight" href="/reviews/<%= book.id() %>/new">Review</a>
    </div>
    <hr />
    <% end %>

  </div>
</div>
