<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Edit Book</h1>
    </div>


<form action="/books/<%= @book.id() %>" method="post">

  <label class="fixed-label" for="title">Title:</label>
  <input class="text-field" id="title" type="text" name="title" value="<%=@book.title()%>">
  <br><br>

  <label class="fixed-label" for="author">Author:</label>
  <select class="dropdown" id="author" name="author_id">
    <% for author in @authors %>
    <option <%= "selected" if author.id() == @book.author().id()%> value="<%= author.id() %>"><%= author.full_name() %></option>
    <% end %>
  </select><br><br>

  <label class="fixed-label" for="genre">Genre:</label>
  <select class="dropdown" id="genre" name="genre_id">
    <% for genre in @genres %>
    <option <%= "selected" if genre.id() == @book.genre().id()%> value="<%= genre.id() %>"><%= genre.name() %></option>
    <% end %>
  </select><br><br>

<label class="fixed-label" for="read_status">Read status:</label>
<select class="dropdown" id="read_status" name="read_status_id">
  <% for read_status in @read_statuses %>
  <option <%= "selected" if read_status.id() == @book.read_status().id()%> value="<%= read_status.id() %>"><%= read_status.name() %></option>
  <% end %>
</select><br><br>

<label class="fixed-label" for="ownership_status">Ownership:</label>
<select class="dropdown" id="ownership_status" name="ownership_status_id">
  <% for ownership_status in @ownership_statuses %>
  <option <%= "selected" if ownership_status.id() == @book.ownership_status().id()%> value="<%= ownership_status.id() %>"><%= ownership_status.name() %></option>
  <% end %>
</select><br><br>

<label class="fixed-label" for="format">Format:</label>
<select class="dropdown" id="format" name="format_id">
  <% for format in @formats %>
  <option <%= "selected" if format.id() == @book.format().id()%> value="<%= format.id() %>"><%= format.name() %></option>
  <% end %>
</select><br><br>

<label class="fixed-label" for="series_name">Series name:</label>
<select class="dropdown" id="series_name" name="series_id">
  <option selected value="nill">N/A</option>
  <% for series in @serieses %>
  <option <%= "selected" if @book.series != nil and series.id() == @book.series().id() %> value="<%= series.id() %>"><%= series.name() %></option>
  <% end %>
</select><br><br>
<label class="fixed-label" for="number_in_series">Series number:</label>
<input class="text-field" id="number_in_series" type="number" name="series_number" value="<%= @book.series_number()%>">
<br><br>

<div class="show-buttons">
  <input class="btn-main" type='submit' value="Update">
</div>

</form>

</div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
