<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>New Book</h1>
    </div>

    <p>New author?  Add them to your collection below:</p>
    <form action="/authors" method="post">
      <label class="fixed-label" for="first_name">First Name:</label>
      <input class="text-field" id="first_name" type="text" name="first_name"><br><br>
      <label class="fixed-label" for="last_name">Last Name:</label>
      <input class="text-field" id="last_name" type="text" name="last_name">
      <div class="show-buttons">
        <input class="btn-sml-main" type='submit' value="Add">
      </div>
    </form> <hr />

    <p>New series?  Add it to your collection below:</p>
    <form action="/serieses" method="post">
      <label class="fixed-label" for="series_name">Series Name:</label>
      <input class="text-field" id="series_name" type="text" name="name">
    <div class="show-buttons">
      <input class="btn-sml-main" type='submit' value="Add">
    </div>
    </form> <hr />

    <div class="title-centered">
      <h2>Book details:</h2>
    </div>
    <form action="/books" method="post">

      <label class="fixed-label" for="title">Title:</label>
      <input class="text-field" id="title" type="text" name="title">
      <br><br>

      <label class="fixed-label" for="author">Author:</label>
      <select class="dropdown" id="author" name="author_id">
        <% for author in @authors %>
        <option value="<%= author.id() %>"><%= author.full_name() %></option>
        <% end %>
      </select><br><br>

      <label class="fixed-label" for="genre">Genre:</label>
      <select class="dropdown" id="genre" name="genre_id">
        <% for genre in @genres %>
        <option value="<%= genre.id() %>"><%= genre.name() %></option>
        <% end %>
      </select><br><br>

    <label class="fixed-label" for="read_status">Read status:</label>
    <select class="dropdown" id="read_status" name="read_status_id">
      <% for read_status in @read_statuses %>
      <option value="<%= read_status.id() %>"><%= read_status.name() %></option>
      <% end %>
    </select><br><br>

    <label class="fixed-label" for="ownership_status">Ownership:</label>
    <select class="dropdown" id="ownership_status" name="ownership_status_id">
      <% for ownership_status in @ownership_statuses %>
      <option value="<%= ownership_status.id() %>"><%= ownership_status.name() %></option>
      <% end %>
    </select><br><br>

    <label class="fixed-label" for="format">Format:</label>
    <select class="dropdown" id="format" name="format_id">
      <% for format in @formats %>
      <option value="<%= format.id() %>"><%= format.name() %></option>
      <% end %>
    </select><br><br>

    <label class="fixed-label" for="series_name">Series Name:</label>
    <select class="dropdown" id="series_name" name="series_id">
      <option selected value="nill">N/A</option>
      <% for series in @serieses %>
      <option value="<%= series.id() %>"><%= series.name() %></option>
      <% end %>
    </select><br><br>
    <label class="fixed-label" for="number_in_series">Series number:</label>
    <input class="text-field" id="number_in_series" type="number" name="series_number">
    <br><br>

    <div class="title-centered">
    <input class="btn-lrg-main" type='submit' value="Create">
    </div>

  </form>
  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
