<div class = "pageview">
  <div class = "pagecontent">

    <h1>Library</h1>
    <h2>View books by:</h2>

    <form action="/books/author" method="post">
      <label for="author">Author:</label><br>
      <select id="author" name="author_id">
        <% for author in @authors %>
        <option id="author" value="<%= author.id() %>"><%= author.full_name() %></option>
        <% end %>
      </select>
      <input type="submit" value="View">
    </form><br>

    <form action="/books/genre" method="post">
      <label for="genre">Genre:</label><br>
      <select id="genre" name="genre_id">
        <% for genre in @genres %>
        <option id="genre" value="<%= genre.id() %>"><%= genre.name() %></option>
        <% end %>
      </select>
      <input type="submit" value="View">
    </form>

    <form action="/books/series" method="post">
      <label for="series">Series:</label><br>
      <select id="series" name="series_id">
        <% for series in @serieses %>
        <option id="series" value="<%= series.id() %>"><%= series.name() %></option>
        <% end %>
      </select>
      <input type="submit" value="View">
    </form>

    <form action="/books/read_status" method="post">
      <label for="read_status">Read Status:</label><br>
      <select id="read_status" name="read_status_id">
        <% for read_status in @read_statuses %>
        <option id="read_status" value="<%= read_status.id() %>"><%= read_status.name() %></option>
        <% end %>
      </select>
      <input type="submit" value="View">
    </form>

  </div>
</div>
