<div class = "pageview">
  <div class = "pagecontent">

  <div class="title-centered">
    <h1><%= @book.title() %></h1>
    <h2><%= @book.author().full_name() %></h2>
  </div>

  <div class="show-buttons">
    <form action="/books/<%= @book.id() %>/edit" method="get">
      <input class="btn-main" type="submit" value="Edit Book">
    </form>
    <form action="/books/<%= @book.id() %>/delete" method="post">
      <input class="btn-highlight" type="submit" value="Delete Book">
    </form>
  </div>

  <h3>Genre:</h3>
  <p><%= @book.genre().name() %></p>

  <h3>Series:</h3>
  <% if(@book.series() == nil) %>
  <p>N/A</p>
  <% else %>
  <p><%= @book.series().name() %> (<%= @book.series_number() %>)</p>
  <% end %>

  <h3>Read Status:</h3>
  <p><%= @book.read_status().name() %></p>

  <h3>Ownership Status:</h3>
  <p><%= @book.ownership_status().name() %></p>

  <h3>Format:</h3>
  <p><%= @book.format().name() %></p>

  <h3>Tags:</h3>
  <ul>
    <% @book.books_tags().each do |book_tag| %>
    <div id="tag-box">
    <li id="tag-item" ><%= book_tag.tag().name() %></li>
    <form action="/book_tag/<%= book_tag.id() %>/delete" method="post">
    <input class="btn-sml-highlight" type="submit" value="Delete Tag">
    </form></div>
    <% end %>
  </ul><hr />

  <form id="book_tag_add" action="/book_tag" method="post">
    <div class="index-buttons">
    <select id="tag-dropdown" id="book_tag_add" name="tag_id">
      <% for tag in @book.tags_not_used() %>
      <option value="<%= tag.id() %>"><%= tag.name() %></option>
      <% end %>
    </select>
    <input type="hidden" name="book_id" value="<%= @book.id() %>">
    <input class="btn-sml-main" type="submit" value="Add Tag">
    </div>
  </form><hr />

  <h3>Review:</h3>
  <% if(@book.review() == nil) %>
  <p>N/A</p>
  <% else %>
  <p><%= "★" * @book.review().rating().to_i %></p>
  <p>"<%= @book.review().review() %>"</p>
  <% end %>

  <div class="index-buttons">
  <% if @book.review == nil %>
  <form action="/reviews/<%= @book.id() %>/new" method="get">
    <input class="btn-sml-main" type="submit" value="Review Book">
  </form>
  <% else %>
  <form action="/reviews/<%= @book.review().id() %>/edit" method="get">
    <input class="btn-sml-main" type="submit" value="Edit Review">
  </form>
  <form action="/reviews/<%= @book.review().id() %>/delete" method="post">
    <input class="btn-sml-highlight" type="submit" value="Delete Review">
  </form>
  <% end %>
  </div><hr />


  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
