<div class = "pageview">
  <div class = "pagecontent">
    <h1><%= @tag.name() %></h1>
    <form action="/tags/<%= @tag.id() %>/edit" method="get">
      <input class="btn-main" type="submit" value="Edit Tag">
    </form>
    <form action="/tags/<%= @tag.id() %>/delete" method="post">
      <input class="btn-highlight" type="submit" value="Delete Tag">
    </form>
    <h2>Books:</h2>
    <% for book in @tag.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
      </h3>
    <p><%= book.author().full_name() %></p>
    <p><%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>

  </div>
</div>
