<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1><%= @tag.name() %></h1>
      <div class="show-buttons">
        <form action="/tags/<%= @tag.id() %>/edit" method="get">
          <input class="btn-main" type="submit" value="Edit Tag">
        </form>
        <form action="/tags/<%= @tag.id() %>/delete" method="post">
          <input class="btn-highlight" type="submit" value="Delete Tag">
        </form>
      </div>
    </div>



    <h2>Books:</h2>
    <% for book in @tag.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
      </h3>
    <p><%= book.author().full_name() %></p>
    <p><%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>

    <div class="show-buttons">
      <a class="btn-sml-highlight" href="/tags">All Tags</a>
    </div>

  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
