<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Edit Review</h1>
      <h2><%= @review.book().title() %></h2>
      <h3><%= @review.book().author().full_name() %></h3>
    </div>
    <form action="/reviews/<%= @review.id() %>" method="post">
      <label class="rating-label" for="rating">Rating:</label>
      <input id="rating" type="number" max="5" min="1" name="rating" value="<%= @review.rating() %>"><br>

      <label class="label-fixed" for="review">Review:</label>
      <textarea class="large-field" id="rating" rows="4" name="review"><%= @review.review() %></textarea><br><br>

      <input type="hidden" name="book_id" value="<%=@review.book_id()%>">

      <div class="show-buttons">
        <input class="btn-main" type='submit' value="Update Review">
      </div>
      </form>

  </div>
</div>
