<div class = "pageview">
  <div class = "pagecontent">

    <h1>Edit Review</h1>
    <h2><%= @review.book().title() %></h2>
    <h3><%= @review.book().author().full_name() %></h3>
    <form action="/reviews/<%= @review.id() %>" method="post">
      <label for="rating">Rating:</label>
      <input id="rating" type="number" max="5" min="1" name="rating" value="<%= @review.rating() %>"><br>

      <label for="review">Review:</label>
      <input id="review" type="text" name="review" value="<%= @review.review() %>">

      <input type="hidden" name="book_id" value="<%=@review.book_id()%>">

      <input type='submit' value="Update Review">
    </form>

  </div>
</div>
