<div class = "pageview">
  <div class = "pagecontent">
    <div class="title-centered">
    <h1><%= @series.name() %></h1>
    </div>
    <div class="show-buttons">
      <form action="/serieses/<%= @series.id() %>/edit" method="get">
        <input class="btn-main" type="submit" value="Edit Series">
      </form>
      <form action="/serieses/<%= @series.id() %>/delete" method="post">
        <input class="btn-highlight" type="submit" value="Delete Series">
      </form>
    </div>
    <hr />
    <h2>Books:</h2>
    <% for book in @series.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
      </h3>
    <p><%= book.author().full_name() %></p>
    <p><%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>

    <div class="show-buttons">
      <a class="btn-sml-highlight" href="/serieses">All Series</a>
    </div>

  </div>
</div>
