<div class = "pageview">
  <div class = "pagecontent">
    <h1><%= @series.name() %></h1>
    <h2>Books:</h2>
    <% for book in @series.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
      </h3>
    <p><%= book.author().full_name() %></p>
    <p><%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>
    <form action="/serieses/<%= @series.id() %>/edit" method="get">
      <input type="submit" value="Edit Series">
    </form>
    <form action="/serieses/<%= @series.id() %>/delete" method="post">
      <input type="submit" value="Delete Series">
    </form>
  </div>
</div>
