<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Gimme!</h1>
    </div>

    <p>Find your next book to read or buy, or a book you've rated highly to recommend to a friend!</p>
    <div class="show-buttons">
    <form action="/gimme/anything" method="get">
      <input class="btn-main" type="submit" value="Gimme any book!">
    </form>
    </div><br>

    <h2>I want to buy a book!</h2>
    <p>Get a random book from your wishlist.</p>
    <form class="gimme-box" action="/gimme/wishlist/author" method="get">
      <label class="gimme-label" for="author">Author:</label>
      <select class="dropdown" id="author" name="author_id">
        <% for author in @wishlist_authors %>
        <option id="author" value="<%= author.id() %>"><%= author.full_name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/wishlist/genre" method="get">
      <label class="gimme-label" for="genre">Genre:</label><br>
      <select class="dropdown" id="genre" name="genre_id">
        <% for genre in @wishlist_genres %>
        <option id="genre" value="<%= genre.id() %>"><%= genre.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/wishlist/tag" method="get">
      <label class="gimme-label" for="tag">Tag:</label><br>
      <select class="dropdown" id="tag" name="tag_id">
        <% for tag in @wishlist_tags %>
        <option id="tag" value="<%= tag.id() %>"><%= tag.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <div class="show-buttons">
      <form action="/gimme/wishlist/anything" method="get">
        <input class="btn-main" type="submit" value="Gimme any!">
      </form>
    </div><br>


    <h2>I want to read a book!</h2>
    <p>Get a random book in the "Not Started" read category.</p>
    <form class="gimme-box" action="/gimme/read/author" method="get">
      <label class="gimme-label" for="author">Author:</label><br>
      <select class="dropdown" id="author" name="author_id">
        <% for author in @read_authors %>
        <option id="author" value="<%= author.id() %>"><%= author.full_name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/read/genre" method="get">
      <label class="gimme-label" for="genre">Genre:</label><br>
      <select class="dropdown" id="genre" name="genre_id">
        <% for genre in @read_genres %>
        <option id="genre" value="<%= genre.id() %>"><%= genre.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/read/tag" method="get">
      <label class="gimme-label" for="tag">Tag:</label><br>
      <select class="dropdown" id="tag" name="tag_id">
        <% for tag in @read_tags %>
        <option id="tag" value="<%= tag.id() %>"><%= tag.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <div class="show-buttons">
      <form action="/gimme/read/anything" method="get">
        <input class="btn-main" type="submit" value="Gimme any!">
      </form>
    </div><br>


    <h2>I want to recommend a book!</h2>
    <p>Get a random book that you have rated 4+ stars.</p>
    <form class="gimme-box" action="/gimme/recommend/author" method="get">
      <label class="gimme-label" for="author">Author:</label><br>
      <select class="dropdown" id="author" name="author_id">
        <% for author in @recommend_authors %>
        <option id="author" value="<%= author.id() %>"><%= author.full_name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/recommend/genre" method="get">
      <label class="gimme-label" for="genre">Genre:</label><br>
      <select class="dropdown" id="genre" name="genre_id">
        <% for genre in @recommend_genres %>
        <option id="genre" value="<%= genre.id() %>"><%= genre.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <form class="gimme-box" action="/gimme/recommend/tag" method="get">
      <label class="gimme-label" for="tag">Tag:</label><br>
      <select class="dropdown" id="tag" name="tag_id">
        <% for tag in @recommend_tags %>
        <option id="tag" value="<%= tag.id() %>"><%= tag.name() %></option>
        <% end %>
      </select>
      <input class="btn-highlight" type="submit" value="Gimme a book!">
    </form>

    <div class="show-buttons">
      <form action="/gimme/recommend/anything" method="get">
        <input class="btn-main" type="submit" value="Gimme any!">
      </form>
    </div>

    <br>

  </div>
</div>
