<div class = "pageview">
  <div class = "pagecontent">
    <div class="title-centered">
      <h1><%= @author.full_name() %></h1>
    </div>
    <div class="show-buttons">
      <form action="/authors/<%= @author.id() %>/edit" method="get">
        <input class="btn-lrg-main" type="submit" value="Edit Author">
      </form>
      <form action="/authors/<%= @author.id() %>/delete" method="post">
        <input class="btn-lrg-highlight" type="submit" value="Delete Author">
      </form>
    </div>
    <h2>Books:</h2>
    <% for book in @author.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
    </h3>
    <p><%= book.genre().name() %>, <%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>

    <div class="show-buttons">
      <a class="btn-sml-highlight" href="/authors">All Authors</a>
    </div>

  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
