<div class = "pageview">
  <div class = "pagecontent">
    <h1><%= @author.full_name() %></h1>
    <form action="/authors/<%= @author.id() %>/edit" method="get">
      <input class="btn-main" type="submit" value="Edit Author">
    </form>
    <form action="/authors/<%= @author.id() %>/delete" method="post">
      <input class="btn-highlight" type="submit" value="Delete Author">
    </form>
    <h2>Books:</h2>
    <% for book in @author.books() %>
    <h3><%= book.title() %>
      <% if(book.series() != nil) %>
      (<%= book.series().name() %> #<%= book.series_number() %>)
      <% end %>
    </h3>
    <p><%= book.genre().name() %>, <%= book.ownership_status().name() %>, <%= book.read_status().name() %></p>
    <hr />
    <% end %>
  </div>
</div>
